:root {
  // --blue: #2962FF;
  // --dark: #263238;
  // --gray: #CFD8DC;
  // --lightBlue: #448AFF;

  --blue: 41, 98, 255; //rgb
  --dark: 38, 50, 56; // rgb
  --gray: 207, 216, 220;
  --lightBlue: 68, 138, 255;
  --white: 255, 255, 255;

  --light: 0.2;
  --saturated: 1;


}