
.regions {
  display: flex;
  padding: 0 0 20px 0;
  overflow: scroll;

  @media screen and (min-width: 900px) {
    justify-self: end;
  }

  .input-group:last-of-type {
    padding-right: 10px;
  }
}


input[type="checkbox"] {
  opacity: 0;
  position: fixed;
  width: 0;



  &+label {
    border: 2px solid rgba(var(--dark), var(--light));
    color: rgba(var(--dark), var(--saturated));
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 15px;
    border-radius: 23px;
    display: inline-block;
    margin-right: 5px;

    &:focus,
    &:hover {
      outline: none;
      color: rgba(var(--blue), var(--saturated));
      border-color: rgba(var(--blue), var(--saturated));
    }
  }

  &:checked+label {
    background: rgba(var(--blue), var(--light));
    color: rgba(var(--blue), var(--saturated));
    border-color: rgba(var(--blue), var(--light));
    &:hover {
      border-color: rgba(var(--blue), var(--saturated));
    }
  }

  &:focus+label{
    color: rgba(var(--blue), var(--saturated));
    background: rgba(var(--blue), var(--light));
    border-color: rgba(var(--blue), var(--saturated));
  }

}